gui:
  showIcons: true
git:
 paging:
   colorArg: always
   pager: delta --dark --paging=never
customCommands:
  - key: "W"
    prompts:
      - type: "input"
        title: "Commit without commit hooks"
        initialValue: ""
    command: git commit -m "{{index .PromptResponses 0}}" --no-verify
    context: "global"
    subprocess: false
